#download-image {
  box-shadow: 0 0 2px 0 rgba(200, 200, 200, 0.3);
  padding: 0 0.5em;

  .download-image-header {
    background-color: $gray-100;
  }
  .image-download-link {
    border-bottom: 1px solid rgba($color: $gray-300, $alpha: 0.4);
    background-color: $gray-100;
    @media screen and (min-width: map-get($grid-breakpoints, "sm")) {
      display: flex;
      background: none;
    }
  }
}