
.main-header {
  background-color: $gray-900;
  
  /* made header sticky */
  position: sticky;
  top: 0;
  z-index: 100;
  /* made header sticky */ 
  
  .row {
    height: auto;
    padding: 1em 0;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    max-width: 100%;
    @media screen and (min-width: map-get($grid-breakpoints, "sm")) {
      height: 70px;
      padding: 0;
    }
  }

  .logo {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    height: 36px;
    @media screen and (min-width: map-get($grid-breakpoints, "sm")) {
      margin-top: 0;
      justify-content: flex-start;
    }
  }
  .main-menu {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    @media screen and (min-width: map-get($grid-breakpoints, "sm")) {
      margin-top: 0;
      justify-content: flex-end;
    }
    .btn {
      transform: scale(0.8);
      @media screen and (min-width: map-get($grid-breakpoints, "sm")) {
        transform: scale(1);
      }
    }
  }
  
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-nav {
    flex-direction: row;
    
    .nav-item {
      padding: 0 0;

      &::marker {
        display: none;
        width: 0;
        height: 0;
      }


      @media screen and (min-width: map-get($grid-breakpoints, "sm")) {
        padding: 0 0.5em;
      }

      a:hover, a:active {
        border-bottom: 2px solid $blue;
      }
    }
    .nav-link {
      padding: 0.5em 0;
      margin: 0 4px;
      font-size: 0.9em;
      border-bottom: 2px solid $blue;
      color: white;
      
      @media screen and (min-width: map-get($grid-breakpoints, "sm")) {
        padding: 0.5em 0.5em;
        margin: 0;
        font-size: 1em;
        border-bottom: 2px solid transparent;
      }
    }
  }

  .btn-primary.active {
    color: $body-color;
    background-color: $white;
  }
}
