<div class="header main-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-4">
        <a class="logo" href="{{ .Site.BaseURL }}">
          <img class="max-width-mobile" alt="Logo" src="{{ .Site.Params.logo.standard | relURL }}" />
        </a>
      </div>
      <div class="col-sm-8 main-menu">
        {{ partial "main-menu.html" . }}
      </div>
    </div>
  </div>
</div>
