<div id="main-menu" class="navbar">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <li class="nav-item">
        <a class="nav-link {{ .Name | lower }} {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}" href="{{ .URL }}">
          {{ .Name }}
        </a>
      </li>
      {{end}}
    </ul>
  </div>
</div>