{{$currentNode := .}}
<div class="docs-menu">
  <h4 class="mt-1">{{ .Section | humanize }}</h4>
  <ul>
    {{ range where .Site.RegularPages "Section" .Section }}
    <li class="{{ if eq .File.UniqueID $currentNode.File.UniqueID }}active {{ end }}">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
</div>
