<div class="sub-footer d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 d-flex justify-content-start">
        <p>
          <a class="logo" href="{{ .Site.BaseURL }}">
            <img height="30" alt="Logo" src="{{ .Site.Params.logo.standard | relURL }}" />
          </a>
          <br>
          an open source project by Pantacor
        </p>

        
      </div>
    </div>
  </div>
</div>