---
title: 'Pantavisor Linux'
date: 2021-07-19T15:14:39+10:00
draft: false
---

<h5 class="mb-4">A Framework for Containerized Embedded Linux</h5>
<a class="btn btn-primary" href="#download" role="button">Get Started</a>

<section class="row mt-8 flex-row-reverse d-flex justify-content-between">
  <div class="col-sm-5 mb-6 mt-3">
    <img class="max-width-mobile" width="370" src="/images/pantavisor-linux.svg"/>
  </div>
  <div class="col-sm-6">
    <h3 class="mb-4">What is Pantavisor Linux?</h3>
    <p>
      Pantavisor Linux is the easiest way to build a Linux Embedded product with lightweight Linux Containers (LXC). Put your Linux distribution or custom-made firmware userland in a container and give your system the benefits of portable container lifecycle management without replacing your distribution.</p>
    <p>
      Pantavisor Linux converts any Docker container into LXC format and runs it on all of your devices, including those with the smallest resource footprint. Turn firmware, the OS, and even the BSP into portable, containerized building blocks that can be shared and deployed transactionally over the air.</p>
  </div>
</section>

<section class="mt-8">
  <h3 class="mb-4">Why Pantavisor Linux?</h3>
  <p>
    Billions of dollars on engineering costs and opportunities are wasted each year in the edge device ecosystem because Operating Systems do not have a standard solution for delivering embedded Linux systems at IoT scale.</p>
  <p>
    With Pantavisor Linux, you get the building blocks for a universal Linux non-OS so that your team can focus on features and services. Deploy, manage and deliver your containerized embedded OS to millions of devices in a portable and reproducible manner.</p>
  <div class="row justify-content-between mt-4">
    <section class="col-sm-4">
      <header>
        <p>
          <img width="50" src="/images/thunder.svg" />
        </p>
        <h6>Designed for embedded Linux</h6>
      </header>
      <p>
        Pantavisor has a tiny footprint of 1MB with strict build rules. It can be used in any Linux device, from single-core NAND/NOR flash class devices to Raspberry Pis. If it’s Linux, Pantavisor can run on it.</p>
    </section>
    <section class="col-sm-4">
      <header>
        <p>
          <img width="50" src="/images/clock.svg" />
        </p>
        <h6>Simple and fast</h6>
      </header>
      <p>Because Pantavisor does not try to be a full userland, it is nimble. Its only purpose is to orchestrate the lifecycle management of your device’s main userland, kernel, firmware, and any application containers that make part of the device experience.</p>
    </section>
    <section class="col-sm-4">
      <header>
        <p>
          <img width="50" src="/images/blocks.svg" />
        </p>
        <h6>Highly portable</h6>
      </header>
      <p>Built in C using a pluggable runtime architecture with LXC as the main choice, Pantavisor supports any architecture if the core container features are supported at the Linux kernel level. Currently ARM, ARM64, x86, MIPS and RISC-V are in use.</p>
    </section>
  </div>
  <div class="row mt-0">
    <section class="col-sm-4">
      <header>
        <p>
          <img width="50" src="/images/stats.svg" />
        </p>
        <h6>Performant</h6>
      </header>
      <p>
        No performance hit with all the benefits of modern lifecycle management. <br>
        As this is not ring-0 virtualization, but rather userland (ring-3) containerization, there is no runtime performance impact on the system. The containerized userland and applications run equal to their bare metal counterparts.</p>
    </section>
    <section class="col-sm-4">
      <header>
        <p>
          <img width="50" src="/images/security.svg" />
        </p>
        <h6>Secure OTA updates</h6>
      </header>
      <p>Secure Over the Air updates become a base operation that engineers and operators won't have to spend precious time and resources on. Pantavisor allows developers to compose a reproducible system out of reusable building blocks that can be shared and accessed on pantavisor.io.</p>
    </section>
  </div>
</section>

<section class="mt-8">
<h3 class="mb-4">Get Started with Pantavisor Linux</h3>
<p>
    Pantavisor Linux allows product builders to make their own Linux Embedded products through a mix and match building block experience of combining applications, middleware, OS and board support.</p>
  <p>
    Our official Pantavisor Linux images include Pantabox, a frontend installer that offers all of the essential utilities developers need in order to maintain, evolve and publish a Pantavisor Linux system.</p>
  </p>  
    <p class="mt-4 mb-4">
    <img style="max-width: 100%;" src="/animations/start_pantabox.gif" alt="">
  </p><div id="download"></div><h4 class="mb-4">Download Pantavisor Linux images</h4>
<p>
    Start by selecting and downloading an image for your device platform and architecture from the table below. After the download completes, head to our <a href="/guides/getting_started/">guides section and learn about the basics</a>
  </p>
    <div id="download-image">
    <div class="d-flex justify-content-center">
      <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</section>

<section class="mt-8">
  <h4 class="mb-4">Explore Pantavisor</h4>
  <p>
    After the download completes, head to our <a href="/guides/getting_started/">guides section and learn about the basics</a>.
  </p>
</section>

