
// Bootstrap
@import 'variables'; // our variables, change it in here
@import "bootstrap/functions";  
@import "bootstrap/variables"; // default varaiables, do not change it in here
@import 'bootstrap/utilities';
@import 'bootstrap/mixins';
@import 'bootstrap/reboot';
@import 'bootstrap/helpers';
@import 'bootstrap/grid';
@import 'bootstrap/vendor/rfs';
@import 'bootstrap/containers';
@import 'bootstrap/utilities/api';
@import 'bootstrap/nav';
@import 'bootstrap/navbar';
@import 'bootstrap/buttons';
@import 'bootstrap/spinners';

// Libraries
@import 'libraries/pygments/github';

// Components
@import 'components/header';
@import 'components/buttons';
@import 'components/sub-footer';
@import 'components/download-image';

// Pages
@import 'pages/home';
@import 'pages/page-default-single';

// Global
html {
  background-color: #ffffff;
}
body {
  font-family: $font-family-base;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: $black;
  background-color: #f7f7f7;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  letter-spacing: -0.02em;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 26px;
  margin-top: $paragraph-margin-bottom;
  
  /* identical to box height, or 144% */
  letter-spacing: -0.01em;
}

ol {
  margin-top: $paragraph-margin-bottom;
  margin-bottom: $paragraph-margin-bottom;
}

.container {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

.highlight {
  pre {
    padding: 0.5em;
  }
}

.wrapper {
  min-height: 80.5vh;
}

.sidebar {
  ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;

    li {
      padding: 0.5em 0;
      background-color: none;
      border-bottom: 1px solid rgba($color: $gray-300, $alpha: 0.3);
    }
  }
}

.max-width-mobile {
  max-width: 100%;
  @media screen and (min-width: map-get($grid-breakpoints, "sm")) {
    max-width: initial;
  }
}

.show-xs {
  display: block !important;
  @media screen and (min-width: map-get($grid-breakpoints, "sm")) {
    display: none !important;
  }
}

.hide-xs {
  display: none !important;
  @media screen and (min-width: map-get($grid-breakpoints, "sm")) {
    display: flex !important;
  }
}

img {
  display: flex;
}