{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

<h1 class="title mb-4">{{ .Title }}</h1>
<div class="content">
  {{ .Content }}
</div>

{{ range.Pages }}
{{ .Render "summary" }}
{{ end }}

{{ end }}