<div class="summary mt-4 mb-4">
  {{ if .Params.image }}
  <img alt="{{ .Title }}" src="{{ .Params.image }}" />
  {{ end}}
  <h2 class="title-summary"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
  <p>{{ .Summary }}</p>
</div>
